.Formadmin{
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding: 30px;
}

.adminpage {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 10px;
}

.unanswered {
  margin-top: 50px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 25%;
}

/*.questions {
  margin: 0;
  padding: 0;
}*/

.q-item {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  margin-left: 0;
  text-align: left;
  background: white;
  color: black;
}

.admincontroller {
  margin-top: 50px; 
  text-align: center;
  width: 40%;
}

.answer {
  width: 100%;
  padding: 50px;
  padding-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 10px;
  background: black;
  text-align: center;
  margin: 0;
}

#admintextarea {
  padding: 20px;
  resize: none;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.buttoncreatenew {
  text-align: center;
  width: 30%;
  margin: 0;
  margin-top: 30px;
}

#buttoncreatenew {
  font-family: Univers Next Pro;
  font-weight: light;
  font-size: 1em;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background: black;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
}

#buttonstyle{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background: black;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
}

#newfaqtoggle {
  width: 100%;
  margin-top: 20px;
}

.form {
  border: 2px solid black;
  width: 25%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-radius: 20px;
  background: black;
  box-shadow: 5px 10px lightgrey;
  color: white;
}

.loginform {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.message {
  text-align: center;
  width: 100%;
}

@media (max-width: 500px){
  .Formadmin{
    padding: 20px 10px;
  }

  .adminpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .unanswered {
    margin-top: 20px;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
  }

  .answer {
    padding: 15px;
  }

  .admincontroller {
    margin-top: 40px; 
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }

  #newfaqtoggle {
    width: 100%;
    margin-top: 20px;
  }

  #buttoncreatenew {
    margin-top:0;
  }

  .buttoncreatenew {
    width: 100%;
  }


}

@media (min-width:501px) and (max-width:800px){


}

@media (min-width: 801px){
}
