.ask {
  width: 50%;
  padding: 50px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 20px;
  background: black;
}

input {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

select {
  width: 110%;
  height: 30px;
  margin: 10px;
  /*margin-bottom: 40px;*/
  border-radius: 20px;
  background: black;
  color: white;
}

#buttonuser {
  width: 20%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  background: black;
  color: white;
  border: 1px solid white;
}

#usertextarea {
  padding: 20px;
  margin: 10px;
  resize: none;
  width: 95%;
  height: 100px;
  border-radius: 20px;
}

#colorwhite {
  color: white;
}

#message {
  font-size: 25px;
  color: white;
}

.message {
  text-align: center;
  width: 100%;
}

.oneCategory {
}

.buttoncat {
  border-radius: 10px;
  background: black;
  border: 1px solid white;
  color: white;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

.buttoncategorys {
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.questionbutton {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
