* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'UniversNextPro';
  font-style: normal;
  font-weight: thin;
  src:
    local('UniversNextPro'),
    local('UniversNextPro-Thin'),
    url(/public/UniversNextPro-Thin.otf) format('open type');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'UniversNextPro';
  font-weight: lighter;
}

.adminbutton {
  border-radius: 10px;
  background: white;
  color: black;
  margin: 20px;
  margin-bottom: 0;
  padding: 20px;
  border: 2px solid black;
}

.logoclass {
  margin-top: 10px;
}
